<ion-view view-title="Info">
    <ion-content>
        <div class="edit-information">
            <div class="list details">
                <div ng-class="{'save':saved}" ng-show="saved">
                    <span>Saved successfully.</span>
                </div>
                <form ng-submit="">
                    <label class="item item-input">
                        <input type="text" placeholder="Store name" class="black" ng-model="userdetails.storename" ng-class="allvalidation[0].validation">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="Owner name" class="black" ng-model="userdetails.ownername" ng-class="allvalidation[1].validation">
                    </label>
                    <label class="item item-input">
                        <input type="email" placeholder="Email" class="black" ng-model="userdetails.email" ng-class="allvalidation[2].validation">
                    </label>
                    <label class="item item-input">
                        <textarea name="" id="" rows="5" placeholder="Address" class="black" ng-model="userdetails.address" ng-class="allvalidation[3].validation"></textarea>
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="City" class="black" ng-model="userdetails.city" ng-class="allvalidation[4].validation">
                    </label>
                    <label class="item item-input">
                        <input type="text" placeholder="State" class="black" ng-model="userdetails.state" ng-class="allvalidation[5].validation">
                    </label>
                    <label class="item item-input">
                        <input type="tel" placeholder="Zip code" class="black" ng-model="userdetails.pincode" ng-class="allvalidation[6].validation" maxlength="6">
                    </label>

                    <label class="item item-input">
                        <input type="tel" placeholder="Phone No." class="black" ng-model="userdetails.phone" ng-class="allvalidation[7].validation" maxlength="10">
                    </label>
                    <button class="button button-positive editinfo-button" type="submit" ng-click="editSave(userdetails)">Edit Information
                    </button>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>
