<ion-view view-title="My Account">
    <ion-content>
        <div class="myaccount">
            <div class="ion-list">
                <ion-item class="account-item no-border" href="#/app/myorders"><span>Order History</span><i class="icon ln-chevron-right"></i></ion-item>
                <ion-item class="account-item no-border" href="#/app/mywishlist"><span>Wishlist</span><i class="icon ln-chevron-right"></i></ion-item>
                <ion-item class="account-item no-border" href="#/app/editinfo"><span>Edit Information</span><i class="icon ln-chevron-right"></i></ion-item>
            </div>
        </div>
    </ion-content>
</ion-view>